{% extends 'base.html' %}

{% block title%}
Главная
{% endblock%}

{% block content %}
<div class="row">
  <div class="col-9 text-center mt-5">
    <h1>Важно понимать</h1>
    <p class="mt-5">На данном сайте Вы ненайдете учений. Сдесь только мысли неизвестного мне существа взявшегося из неоткуда.
      Статьи что сдесь найдете возможно будут Вам полезны, интересны, позновательны. Но никогда не воспринимайте их
      как мнение создателя сайта. Тот кто его создал просто пишет то что ему передают и соответственно прокачивает
      свои навыки кода. Этот сайт будет расти, в нем будет то что изучаю лично я по программированию, и странные истории
      от странного существа. Лично от себя могу сказать я очень полюбил программиование и постааюсь радовать залетных пользователей
      своими мини играми и основной игрой ПЛАН БЕЛИАЛА игра без плана и сюжета, которая развиваться будет на ходу на глазах тех залетных)
      Хорошего Вам времяпровождения. 
    </p>
  </div>
</div>
{% endblock%}

{% block dropdownbutton %}
{% endblock %}
