{% extends 'base.html' %}

{% block title%}
Рубрики
{% endblock%}

{% block sidebar%}
{% for section in sections %}
<a href="{% url 'blog:themes' section.id %}">{{ section }}</a>
{% endfor %}
{% endblock%}

{% block content %}
<div class="row">
  <div class="col-9 text-center mt-5">
    <h1>Добрый день, вечер, ночь. Можете называть меня Matrix.</h1>
    <p class="mt-5">Я не писатель и не психолог, да и в школе успехами не пользовался.
Поэтому уважаемый читатель этих историй, будь бдителен что читаешь. В этих историях Вы возможно найдете для себя какой то 
смысл, но сразу предупреждаю - это не мое личное мнение, эти истории скорее всего третье мнение не зависимое. Оно может 
совпадать с Вашим, а может и нет.
Для начала хотелось бы разобраться что такое (мнение). Давайте посмотрим в толковый словарь.
Мнение - Суждение, выражающее оценку чего-н., отношение к чему-н., взгляд на что-н.
Принятие суждения другого человека(что для Вас это значит?) Наверное для каждого из нас это самое сложное. Каждый начинает
вскипать внутри себя, так как затронута его точка зрения. И когда Ваши точки зрения не совпадают Вы начинаете бесить друг друга.
Но что это, за чувство в определенный момент стало не понятно. Так как ведя диалог на ту или иную тему человек стоящий пред тобой 
теряет контроль, так как твои доводы звучат убедительнее но ЭГО человека не позволяет принять Ваше мнение.
Тут то мне и захотелось писать эти истории. Люди просто не выносят меня, так как разучился чувствовать что человек стоящий передо 
мной уже себя не контролирует и несет всякую речь из своего рта но что бы доказать обратное, в то время как идет обычный на мой взгляд
диалог(да, провождение и общение с кодом, библиотеками по программированию и т.д делают свое дело). Оказывается что обычные вопросы плана
(почему так думаешь, почему ты считаешь что должно быть так, ты уверен что это что то исправит,) просто выводят стоящего человека из себя, он 
теряет контроль. Либо когда человеку предоставляешь другой взгляд на вещи он просто входит в ярость.
И так начнем:</br>
P.S. Статьи от Matrix это "Истории "Видимо я не с этой планеты""
    </p>
  </div>
</div>

{% endblock%}
